In [2]:
# imporing libraries
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
mall_data = pd.read_csv("./data/Mall_Customers.csv")

In [4]:
mall_data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [9]:
mall_data['annual_income'] = mall_data['Annual Income (k$)']*1000
# mall_data['Annual Income (k$)']*1000

In [11]:
average_income = mall_data['annual_income'].mean()
average_income

60560.0

In [14]:
mall_data['above_average_income'] = (mall_data['annual_income'] - average_income) > 0
mall_data.sample(5)

,CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100),annual_income,above_average_income
149,150,Male,34,78,90,78000,True
174,175,Female,52,88,13,88000,True
102,103,Male,67,62,59,62000,True
68,69,Male,19,48,59,48000,False
127,128,Male,40,71,95,71000,True

In [15]:
mall_data.to_csv('./data/mall_data_processed.csv', index=False)

In [16]:
!ls data/

500_Person_Gender_Height_Weight_Index.csv
Mall_Customers.csv
mall_data_processed.csv